body {
  padding: 25%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li{
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#card {
  width: 25%;
  height: 25%;
}

#chart_div {
    background-color: #00B7FF;
    width: 700px;
    height: 240px;
}
